<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
    <link rel="stylesheet" href="/admin.css"/>
</head>
<body>

<div class="header">
    <ul>
        <li>
            <a class="a1" href="/profile">Назад</a>
        </li>
    </ul>
</div>

<h1 style="margin: 1em 1em 1em 2em; font-size: 26px;">Редактирование карточки</h1>
<p style="margin: 2em auto 1em 15em; padding: 2em auto 1em 15em; color: red; font-size:26px;" th:text="${message}"></p>
<div style="margin: 2em 2em 2em 2em;
    padding: 2em 2em 2em 2em;
    background-color: white;
    width: 90%;
    height: 25em;
    border-radius: 30px 30px 30px 30px;">
    <form th:action="'/profile/' + ${id} + '/edit'" th:object="${card}" th:method="post">
        <div class="text-holder">
            <textarea type="text" th:text="${tat}" th:field="*{tat}" placeholder="Добавьте текст на татарском языке" class="txt1" name="tat"></textarea>
        </div>
        <hr/>
        <div th:if="${#fields.hasErrors('tat')}" th:errors="*{tat}" style="color: red">
            Введите корректное наименование
        </div>
        <label style="font-size: 20px; font-family: Verdana; color: #bdbdbd;">Наименование</label>
        <div class="text-holder1">
            <textarea type="text" th:text="${rus}" th:field="*{rus}" placeholder="Добавьте текст на русском языке" class="txt1" name="rus"></textarea>
        </div>
        <hr/>
        <div>
            <label th:if="${#fields.hasErrors('rus')}" th:errors="*{rus}" style="color: red;">Введите корректный перевод</label>
        </div>
        <label style="font-size: 20px; font-family: Verdana; color: #bdbdbd;">Перевод</label>
        <div class="text-holder1">
            <textarea type="text" th:text="${image}" th:field="*{image}" placeholder="Добавьте ссылку на изображение" class="txt1" name="image"></textarea>
        </div>
        <hr/>
        <div>
            <label th:if="${#fields.hasErrors('image')}" th:errors="*{image}" style="color: red;">Введите корректный адрес изображения</label>
        </div>
        <label style="font-size: 20px; font-family: Verdana; color: #bdbdbd;">Изображение</label>
        <div class="text-holder1">
            <textarea type="text" th:text="${tag}" th:field="*{tag}" placeholder="Добавьте тег" class="txt1" name="tag"></textarea>
        </div>
        <hr/>
        <div style="bottom-padding: -2em; margin: 0 0 -1em 0;">
            <label th:if="${#fields.hasErrors('tag')}" th:errors="*{tag}" style="color: red; bottom-padding: -2em; bottom-margin: -4em;">Введите корректный тег</label>
        </div>
        <label style="padding: -2em 0 0 0; margin: -2em 0 0 0; font-size: 20px; font-family: Verdana; color: #bdbdbd;">Тег</label>
        <button type="submit" th:href="'/admin/' + ${id} + '/edit'" style="background-color: green;
    color: white;
    padding: 1em auto 1em 43em;
    margin: 1em auto 1em 43em;
    font-size: 20px;
    border-radius: 5px;
    width: 10em;
    border-style: none;">Редактировать</button>
    </form>
    <form th:action="'/profile/' + ${id} + '/remove'" method="post">
        <button type="submit" th:href="'/profile/' + ${id} + '/remove'" class="btn_style">Удалить</button>
    </form>
</div>
</div>

</body>
</html>